
<div class="container">

    <div class="uploadStation">
        <p>Upload And Parse CSV</p>
        <div class="dragOnMe" id="dragOnMe">
            <p>DRAG FILE HERE TO START UPLOAD</p>

        </div>
        <div class="fileError" id="fileError"></div>
        <div class="fileData" id="fileData">

        </div>
        <div class="uploadActions" ng-hide="validFile">
            <button class="uploadButton"  ng-click="_this.upload()" id="uploadButton">Upload</button>
        </div>
    </div>
    <div class="makerStation">
        <p>Upload And Parse CSV</p>
        <div>
            <button analytics-track="o|MakeCSV" ng-click="makeCSV()" class="makeButton">Make CSV FROM JSON</button>
        </div>
    </div>
    <div>
        <p>Entries: {{_this.test}}</p>
    </div>
    <div><h3>Site Catalyst Demos</h3></div>
    <div class="catalystEventDemos">
        <button analytics-track="o | account view | actions | download print">Tracking Directive Demo</button>
        <button ng-click="_this.exitSurvey('landing','ELL')">Survey: Like</button>
        <button ng-click="_this.exitSurvey()">Closed Modal In Landing page</button>
        <button ng-click="_this.exitSurvey('landing','ELD')">Survey: Don't Like</button>
        <button ng-click="_this.exitSurvey()">Closed Modal In Reason page</button>
        <button ng-click="_this.exitSurvey('reason','ERS', 'Selected Reason ng-options')">Survey: Selected Reason</button>
        <button ng-click="_this.exitSurvey('reason','ERS', 'Provided Custom Reason')">Survey: Provided Reason</button>
    </div>
</div>
